html {
  width: 100%;
  height:100%;
  user-select: none;
}

:root {
  --accent-color: #640024;
  --accent-color-translucent: #64002488;
  --dark-accent-color: #ff034e;
  --dark-accent-color-hover: #dd034e;
  --dark-accent-color-translucent: #ff034e88;
}

@font-face {
  font-family: "SegUI";
  src: url("SegUIVar.ttf");
}

@font-face {
  font-family: "TorusNotched";
  src: url("https://cdn.glitch.global/6ab43ad0-fd1c-4aa8-88a9-8da6a785f101/TorusNotched-Regular.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  cursor: default;
  font-family: "SegUI", helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #640024;
}

.links {
  color: #640024;
  text-decoration: underline;
  cursor: pointer;
} 

.links:hover {
  text-decoration: none;
}

.accordion {
  background-color: #dddddd;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #eeeeee;
}

.panel {
  padding: 0 18px;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.border {
  border: 1px solid #640024;
}

td.border {
  color: #640024;
}

td.bordertxt {
  border: 1px solid #640024;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li.navbutton {
  float: left;
}

li.navbutton a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbutton a:not(.active) {
  color: #000000;
}

li.navbutton a:hover:not(.active) {
  background-color: #dddddd;
  color: #000000;
}

li.navbutton a.nolink {
 border-right: 1px solid #222222;
}

li.navbutton a.nolink:hover:not(.active) {
 background-color: #eeeeee;
}

a.active {
 background-color: #640024;
 color: #ffffff;
}

ul.footbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
}

li.mininavbutton {
  float: left;
}

li.mininavbutton a {
  display: block;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.mininavbutton a:hover:not(.active) {
  background-color: #dddddd;
}

li.mininavbutton a.nolink:hover:not(.active) {
  background-color: #dddddd;
}

li.mininavbutton a.active {
  color: #ffffff;
}

input {
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  top: 0;
  border: none;
  color: #ffffff;
}

input[type="button"] {
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  top: 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

button {
  text-align: center;
  padding: 8px 12px;
  margin: 0;
  overflow: hidden;
  background-color: #640024;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

.navbar-item.rainbow {
  animation: anim-rainbow 10s infinite;
}

.navbar-item.rainbow,
.navbar-item.rainbow:hover {
  border-bottom: none;
  clip-path: none;
  transition: transform .25s ease-in-out;
}

@keyframes anim-rainbow {
    0% {
        color: hsla(0deg 100% 50%);
    }
    16.67% {
        color: hsla(60deg 100% 50%);
    }
    33.33% {
        color: hsla(120deg 100% 50%);
    }
    50% {
        color: hsla(180deg 100% 50%);
    }
    66.67% {
        color: hsla(240deg 100% 50%);
    }
    83.33% {
        color: hsla(300deg 100% 50%);
    }
    100% {
        color: hsla(360deg 100% 50%);
    }
}

.alertbutton {
  animation: alert-rainbow 10s infinite;
  color: #FFFFFF;
  float: left;
}

li.alertbutton a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.alertbutton a:hover:not(.active) {
  background-color: #aa0000;
}

.alertbutton,
.alertbutton:hover {
  border-bottom: none;
  clip-path: none;
  transition: transform .25s ease-in-out;
}

@keyframes alert-rainbow {
    0% {
      background-color: rgb(220, 0, 0);
      color: #FFFFFF;
    }
    33.33% {
      background-color: rgb(200, 20, 20);
      color: #FFFFFF;
    }
    50% {
      background-color: rgb(150, 0, 0);
      color: #FFFFFF;
    }
    66.67% {
      background-color: rgb(200, 0, 0);
      color: #FFFFFF;
    }
    100% {
      background-color: rgb(220, 0, 0);
      color: #FFFFFF;
    }
}

div.shell-dialog {
  background-color: #ededed;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  position: fixed;
  bottom: 37px;
  right: 0;
  width: 100px;
}

div.shell-dialog h2, div.shell-dialog p {
  margin: 0;
  padding: 0;
}

div.top-shell-dialog {
  background-color: #ededed;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  position: fixed;
  top: 49px;
  right: 0;
  width: 100px;
}

div.top-shell-dialog h3, div.top-shell-dialog p {
  margin: 0;
  padding: 0;
}

div.copy-shell-dialog {
  background-color: #ededed;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  position: fixed;
  bottom: 37px;
  left: 0;
  width: 100px;
}

div.copy-shell-dialog h3, div.copy-shell-dialog h4, div.copy-shell-dialog p {
  margin: 0;
  padding: 0;
}

.news-shell-dialog {
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  position: absolute;
  background-color: #eeeeee;
  color: #000000;
}

div.news-shell-dialog h3, div.news-shell-dialog h4, div.news-shell-dialog p {
  margin: 0;
  padding: 0;
}

input[type="text"], select {
  font-family: "SegUI", helvetica, arial, sans-serif;
  border: 0;
  outline: 0;
  border-bottom: 2px solid lightgray;
} input[type="text"]:hover, select:hover {
  border-bottom: 2px solid gray;
} input[type="text"]:focus, select:focus {
  border-bottom: 2px solid #640024;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--dark-accent-color);
  }

  .links {
    color: var(--dark-accent-color);
    text-decoration: underline;
    cursor: pointer;
  } 

  .links:hover {
    text-decoration: none;
  }

  .accordion {
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #111111;
  }

  .panel {
    padding: 0 18px;
    background-color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .border {
    border: 1px solid var(--dark-accent-color);
  }

  td.border {
    color: var(--dark-accent-color);
  }

  td.bordertxt {
    border: 1px solid var(--dark-accent-color);
  }

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  li.navbutton {
    float: left;
  }

  li.navbutton a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.mininavbutton a {
    display: block;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
  }

  li.alertbutton a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.navbutton a:not(.active) {
    color: #ffffff;
  }

  li.navbutton a:hover:not(.active) {
    background-color: #111111;
    color: #ffffff;
  }

  li.navbutton a.nolink {
   border-right: 1px solid #eeeeee;
  }

  li.navbutton a.nolink:hover:not(.active) {
   background-color: #222222;
  }

  a.active {
   background-color: var(--dark-accent-color);
   color: #000000;
  }

  ul.footbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111111;
  }

  li.mininavbutton {
    float: left;
  }

  /* Change the link color to #111 (black) on hover */
  li.mininavbutton a:hover:not(.active) {
    background-color: #222222;
  }

  li.mininavbutton a.nolink:hover:not(.active) {
    background-color: #222222;
  }

  li.mininavbutton a.active {
    color: #000000;
  }
  
  input {
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    border: none;
    background-color: var(--dark-accent-color);
    color: #000000;
  }
  
  input[type="button"] {
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-accent-color);
    color: #000000;
  }
  
  input[type="button"]:hover {
    background-color: var(--dark-accent-color-hover);
  }

  button {
    text-align: center;
    padding: 8px 12px;
    margin: 0;
    overflow: hidden;
    background-color: var(--dark-accent-color);
    border: none;
    border-radius: 10px;
    color: #000000;
  }
  
  button:hover {
    background-color: var(--dark-accent-color-hover);
  }

  .navbar-item.rainbow {
    animation: anim-rainbow 10s infinite;
  }

  .navbar-item.rainbow,
  .navbar-item.rainbow:hover {
    border-bottom: none;
    clip-path: none;
    transition: transform .25s ease-in-out;
  }

  @keyframes anim-rainbow {
      0% {
          color: hsla(0deg 100% 50%);
      }
      16.67% {
          color: hsla(60deg 100% 50%);
      }
      33.33% {
          color: hsla(120deg 100% 50%);
      }
      50% {
          color: hsla(180deg 100% 50%);
      }
      66.67% {
          color: hsla(240deg 100% 50%);
      }
      83.33% {
          color: hsla(300deg 100% 50%);
      }
      100% {
          color: hsla(360deg 100% 50%);
      }
  }

  .alertbutton {
    animation: alert-rainbow 10s infinite;
    color: #FFFFFF;
    float: left;
  }


  li.alertbutton a:hover:not(.active) {
    background-color: #aa0000;
  }

  .alertbutton,
  .alertbutton:hover {
    border-bottom: none;
    clip-path: none;
    transition: transform .25s ease-in-out;
  }

  @keyframes alert-rainbow {
      0% {
        background-color: rgb(220, 0, 0);
        color: #FFFFFF;
      }
      33.33% {
        background-color: rgb(200, 20, 20);
        color: #FFFFFF;
      }
      50% {
        background-color: rgb(150, 0, 0);
        color: #FFFFFF;
      }
      66.67% {
        background-color: rgb(200, 0, 0);
        color: #FFFFFF;
      }
      100% {
        background-color: rgb(220, 0, 0);
        color: #FFFFFF;
      }
  }

  div.shell-dialog {
    background-color: #121212;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    bottom: 37px;
    right: 0;
    width: 100px;
  }

  div.shell-dialog h2, div.shell-dialog p {
    margin: 0;
    padding: 0;
  }

  div.top-shell-dialog {
    background-color: #121212;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    top: 49px;
    right: 0;
    width: 100px;
  }

  div.top-shell-dialog h3, div.top-shell-dialog p {
    margin: 0;
    padding: 0;
  }

  div.copy-shell-dialog {
    background-color: #121212;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    bottom: 37px;
    left: 0;
    width: 100px;
  }

  div.copy-shell-dialog h3, div.copy-shell-dialog h4, div.copy-shell-dialog p {
    margin: 0;
    padding: 0;
  }

  .news-shell-dialog {
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: absolute;
    background-color: #222222;
    color: #ffffff;
  }

  div.news-shell-dialog h3, div.news-shell-dialog h4, div.news-shell-dialog p {
    margin: 0;
    padding: 0;
  }

  input[type="text"], select {
    background-color: #000000;
    color: #ffffff;
    font-family: "SegUI", helvetica, arial, sans-serif;
    border:0; outline:0;
    border-bottom: 2px solid lightgray;
  } input[type="text"]:hover, select:hover {
    border-bottom: 2px solid gray;
  } input[type="text"]:focus, select:focus {
    border-bottom: 2px solid var(--dark-accent-color);
  }
}