:root {
    --background: #eeeeee;
    --main: black;
    --rev: white;

    --pri: #dddddd;
    --sec: #cccccc;
    --tri: #bbbbbb;
    --qua: #aaaaaa;

    --mid-pri: #d0d0d0;

    --default-accent: #690D22;
    --sucess: darkgreen;
    --warn: goldenrod;
    --alert: darkred;
    --info: #0078D4;

    --link: var(--accent-color);
    --accent-color: var(--default-accent);
    --font: var(--default-font);
    --transition: var(--default-transition);

    --default-transition: all 0.1s;
    --default-font: "SegoeUI", "Segoe UI Variable", "Segoe UI", system-ui;

    background: var(--background);
    color: var(--main);
    font-family: var(--font), var(--default-font), system-ui;

    line-height: 1.3;
    color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #111111;
        --main: white;
        --rev: black;

        --pri: #222222;
        --sec: #333333;
        --tri: #444444;
        --qua: #555555;

        --mid-pri: #262626;

        --default-accent: #FF1010;
        --sucess: green;
        --warn: gold;
        --alert: red;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    --transition: none;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

* {
    box-sizing: border-box;
    transition: var(--transition);
    line-height: 1.3;
}

@font-face {
    font-family: "SegoeUI";
    src: url("../SegUIVar.ttf");
}

@supports (scrollbar-color: auto) {
    :root, body {
        scrollbar-color: #A8A8A8 var(--pri);
    }

    :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }

    @media screen and (prefers-color-scheme: dark) {
        :root, body {
            scrollbar-color: #686868 var(--pri);
        }

        :not(:root) {
            scrollbar-width: thin;
            scrollbar-color: #686868 transparent;
        }
    }

    :root.light {
        scrollbar-color: #A8A8A8 var(--pri);
    }

    :root.light :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }

    :root.dark {
        scrollbar-color: #686868 var(--pri);
    }

    :root.dark :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #686868 transparent;
    }
}

@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        border: 1px solid var(--qua);
    }

    :not(body)::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: var(--pri);
        border-left: 1px solid var(--qua);
    }

    :not(body)::-webkit-scrollbar-track {
        border: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--sec);
        border: 1px solid var(--qua);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--tri);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--qua);
    }
}

body {
    height: 100vh;
    margin: 0;
}

header, main, section, article, aside, footer {
    display: block;
}

.hidden {
    display: none !important;
}

.emoji {
    font-family: "GoogleEmoji", system-ui;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
    margin: 0;
}

p {
    margin-top: 0;
}

pre {
    border: var(--tri) solid 1px;
    border-radius: 1rem;
    padding: 1rem;
}

a:any-link, a.links {
    color: var(--link) !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.marquee {
    -moz-animation: marquee 2s linear infinite;
    -webkit-animation: marquee 2s linear infinite;
    animation: marquee 20s linear infinite;
}

a.button {
    display: inline-block;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
    padding: 8px 10px;
    background: var(--accent-color);
    color: var(--rev) !important;
    text-decoration: none;
    font-family: var(--font), system-ui;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    opacity: 0.8;
}

button:active, a.button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    opacity: 0.7;
}

button:disabled, a.button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled {
    opacity: 0.6;
}

.no-color {
    color: var(--main);
}

body > header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    background: #eeeeee;
    color: black;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
}

body > header img {
    width: 3.5rem;
    height: auto;
    margin-right: 1rem;
}

body > main {
    padding: 1rem;
}

#versioning {
    text-align: center;
    padding: 0.5rem;
}

#credits {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
}