body {
    margin: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    font-size: 1.65rem;
    background: #eeeeee;
    color: black;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;

    > img {
        width: 3.5rem;
        height: auto;
        margin-right: 0.75rem;
    }

    > div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    > div > span {
        display: block;
        font-size: 0.875rem;
    }
}